.income {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
  background-color: rgb(162, 214, 152);
  border-radius: 5px;
  margin: 5px;
}

.expense {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
  background-color: rgb(238, 131, 131);
  border-radius: 5px;
  margin: 5px;
}
